@font-face {
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
::placeholder {
	text-align: center;
}

.roboTitle {
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	color: #0afff7;
}

input {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	border-radius: 1rem;
	outline: 0;
	margin-top: 5rem;
	margin-bottom: 3rem;
	text-align: center;
}

.bg-light-green-custom {
	background: #65f1bd;
}

@media only screen and (min-width: 320px) {
	.roboTitle {
	font-size: 2.5rem;
	}
}
@media only screen and (min-width: 375px) {
	.roboTitle {
	font-size: 2.8rem;
	}
}
@media only screen and (min-width: 425px) {
	.roboTitle {
		font-size: 3rem;
		}
}
@media only screen and (min-width: 768px) {
	.roboTitle {
		font-size: 4rem;
		}
}